.site-footer {
    background-color: #1b8c77;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
}
.social-links a {
    color: #80FFF1;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.social-links a:hover {
    color: #8c261b;
    text-decoration: underline;
}